<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="loggersList"
type="Metastorm.DeploymentClient.Configuration.LoggersConfigSection, Deploy">
        </section>
        <section name="DeploymentService"
type="Metastorm.DeploymentClient.Configuration.ServiceConfigSection, Deploy">
        </section>
    </configSections>
    <loggersList>
        <loggers>
            <add name="Console" level="DEBUG"
            type="Metastorm.DeploymentClient.Logging.ConsoleLogger">
            </add>
            <add name="TextLogger" level="DEBUG"
            type="Metastorm.DeploymentClient.Logging.TextFileLogger">
                <parameters>
                    <add name="source"
                value="C:/DEV/deployexe.log">
                    </add>
                </parameters>
            </add>
            <add name="EventLogger"
            level="DEBUG"
            type="Metastorm.DeploymentClient.Logging.EventLogger">
                <parameters>
                    <add name="source" value="DeploymentClient"></add>
                </parameters>
            </add>
        </loggers>
    </loggersList>
    <DeploymentService ServiceListFile="C:/DEV/VS_LOCAL/Flake/Extras/FlakeDeploymentServiceConfig.xml"
    ServiceUsername="flake"
    ServicePassword="snowflake">
    </DeploymentService>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding
                name="deploymentService_defaultNetTcpBinding"
                sendTimeout="00:10:00"
                maxReceivedMessageSize="2147483647">
                    <readerQuotas
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647"
                    maxBytesPerRead="2147483647"
                    maxNameTableCharCount="2147483647"
                    maxDepth="2147483647">
                    </readerQuotas>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IProcessDiagnostics"
                closeTimeout="00:01:00" openTimeout="00:01:00"
                receiveTimeout="00:10:00" sendTimeout="00:01:00"
                bypassProxyOnLocal="false" transactionFlow="false"
                hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8"
                useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192"
                    maxArrayLength="16384" maxBytesPerRead="4096"
                    maxNameTableCharCount="16384">
                    </readerQuotas>
                    <reliableSession ordered="true"
                    inactivityTimeout="00:10:00" enabled="false">
                    </reliableSession>
                    <security mode="Message">
                        <transport clientCredentialType="Windows"
                        proxyCredentialType="None" realm="">
                        </transport>
                        <message clientCredentialType="Windows"
                        negotiateServiceCredential="true"
                        algorithmSuite="Default"
                        establishSecurityContext="true">
                        </message>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://default.com" binding="netTcpBinding"
             bindingConfiguration="deploymentService_defaultNetTcpBinding"
              contract="Metastorm.Deployment.Core.IDeploymentService"
              name="NetTcpBinding_IDeploymentService">
               </endpoint>
            <endpoint address="net.tcp://default.com" binding="netTcpBinding"
             bindingConfiguration="deploymentService_defaultNetTcpBinding"
             contract="Metastorm.Deployment.Client.Contracts.IProjectStore"
             name="NetTcpBinding_IProjectStore">
             </endpoint>
            <endpoint address="net.tcp://default.com" binding="netTcpBinding"
            bindingConfiguration="deploymentService_defaultNetTcpBinding"
            contract="Metastorm.Deployment.Client.Contracts.ILibraryStore"
            name="NetTcpBinding_ILibraryStore"></endpoint>
            <endpoint address=
            "http://localhost/ProcessDiagnosticsService/ProcessDiagnostics.svc"
            binding="wsHttpBinding"
            bindingConfiguration="WSHttpBinding_IProcessDiagnostics"
            contract="ProcessDiagnosticsService.IProcessDiagnostics"
            name="WSHttpBinding_IProcessDiagnostics">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>